<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

{% extends 'shop/layout/main.html' %}

{% block title %}
    Shop | Pro
{% endblock %}

{% block content %}
    {% include 'shop/inc/silder.html' %}
    
    <div class="container" style="margin-top: 70px;">
        <div class="row">
            <div class="col-10">
                <h2 class="mb-3" style="color: black;">Trending offers in my shop</h2>
                <hr style="border-color:#b8bfc2">
            </div>
                 {% for item in products %}
                   <div class="col-md-4 col-lg-3" data-aos="zoom-in-down">
                   <div class="card my-3" style="border-radius: 20px;">
  
                  <img src="{{ item.product_image.url }}" class="card-img-top" alt="{{ item.name }}" style="height: 200px;">
                  <a href="{% url 'product_details' item.category.name item.name %}">   
                  <div class="card-body">
                  <h5 class="card-title text-primary">{{ item.name }}</h5>
                   <p class="card-text mb-0">
                  <span class="float-start"><s>Rs{{ item.original_price | stringformat:'d'}}</span></s>
                  <span class="float-end">Rs.{{ item.selling_price | stringformat:'d' }}</span>
                  </p>
                  </a>
               </div>
             </div>
        </div>
      {% endfor %}
        </div>
    </div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    AOS.init();
  });
</script>

{% endblock %}
